.footerContainer{
    width:100vw;
    background-color: $header-bg-color;
    color: $header-text-color;
    padding: 50px 50px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    color: white;
    .categories{
        display: block;
       padding-top: 10px;
       padding-bottom: 10px;
    }
    .contact{
        padding-top: 10px;
        display: block;
        padding-bottom:10px;
    }
    .item{
        font-size: 0.8rem;
        margin-top: 20px;
        margin-bottom: 20px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        a{
            color: $header-text-color;
            &:hover{
                color: white;
            }
        }
        &:hover{
            color: white;
        }
    }
}
@media(max-width:700px){
    
    .footerContainer{
        font-size: 0.8rem;
        .item{
            font-size: 0.7rem;
            margin-top: 15px;
            margin-bottom: 15px;
        }
    }
    
}
@media(max-width:550px){
    
    .footerContainer{
        font-size: 0.7rem;
        .item{
            font-size: 0.6rem;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    
}
@media(max-width:480px){
    
    .footerContainer{
        padding: 20px 20px;
        font-size: 0.6rem;
        .item{
            font-size: 0.5rem;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    
}