.main-container {
    width: 100vw;
    height: auto;
    // border: 1px solid black;
    padding: 25px 20%;
    overflow: hidden;
    hr{
        color:#e1e4e641;
    }
}
.main-heading {
    color: #2C384A;
    font-size: 3rem;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    
}
.sub-heading {
    color: #2C384A;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    
}

.statusBar{
    width:100%;
    height:auto;
    display: flex;
    color:#4B5665;
    padding: 10px;
    font-weight: 400;
    font-size: .75rem;
    justify-content: space-between;
    align-items: center;
}
.center-it{
display:flex;
justify-content: center;
align-items: center;
gap: 10px;
cursor: pointer;
}

.submenu{
    width:100%;
    height:auto;
    display: flex;
    padding: 10px;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
}
.submenu-links{
    text-transform: capitalize;
    padding:5px 15px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:$plain-text-color;
    cursor: pointer;
    &:hover{
        color: black;
    }
}
.route{
    width:100%;
    height:auto;
    padding: 10px;
    word-spacing: 5px;
    font-size: 0.7rem;
    gap: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color:$plain-text-color;
}
.products{
    width:100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap:25px;
    transition: all 0.3s linear;

}
.relatedProducts{ 
    width:100%;
    height: auto;
    display: flex;
    gap:10px;
    overflow-x: scroll;

}
.relatedProducts::-webkit-scrollbar {
    display: block;
    height:  8px;
  }
    .relatedProducts::-webkit-scrollbar-track {
    background-color: #f1f1f1aa;
  }
    .relatedProducts::-webkit-scrollbar-thumb {
    background-color: #ddddddd1; 
    border-radius: 10px;

  }
    .relatedProducts::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0e0; 
  }
  
.signup-section{
    width:100%;
    // height:100px;
    padding: 60px 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    .text{
        color: #5C6874;
        line-height: 35px;
        font-size: 1.5rem;
        width: 50%;
    }
    .signupBox{
         width: 47%;
         height:2.4rem;
         display: flex;
         border-radius: 15px;
         justify-content: start;
         align-items: center;
         .input{
            width:77%;
            height: 100%;
            background-color: white;
            input{
                border: 0.1px solid rgba(195, 195, 195, 0.591);
                width: 100%;
                height:100%;
                padding:0px 15px;
                border-radius: 10px 0px 0px 10px;
                color:$para-color;
                &:focus{
                    // border: none;
                    outline: none;
                }
            }
         }
         .signup-btn{
            width:23%;
            height: 100%;
            background-color:$btn-bg-color ;
            color: white;
            cursor: pointer;

            font-size: 0.6rem;
            border-radius: 0px 10px 10px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
         }
    }
}

@media (max-width:1200px){
    .main-container{
        padding: 25px 15%;
    }
}
@media (max-width:1050px){
    .main-container{
        padding: 25px 10%;
    }
}
@media (max-width:900px){
    .submenu{
        padding: 5px;
        gap: 0.4rem;
    }
    .submenu-links{
        padding:5px 5px;
        font-size: 0.7rem;
    }
    .main-heading{
        font-size: 2.4rem;
    }
    .main-container{
        padding: 25px 5%;
    }
}
@media (max-width:650px){
    .route{
        padding: 10px;
    word-spacing: 2px;
    font-size: 0.6rem;
    gap: 5px;
    }
    .statusBar{
        padding: 5px;
        font-weight: 200;
        font-size: .5rem;
    }
    .center-it{
        gap: 5px;
    }
    .main-heading{
        font-size: 2rem;
    }
}
@media(max-width:500px){
    .route{
        padding: 5px;
    word-spacing: 2px;
    font-size: 0.5rem;
    gap: 2px;
    }
    .submenu{
        padding: 2px;
        gap: 0.3rem;
    }
    .submenu-links{
        padding:5px 5px;
        font-size: 0.5rem;
    }
    .main-container{
        padding: 10px 5%;
    }
    .main-heading{
        font-size: 1.30rem;
        line-height: 30px;

    }
    .sub-heading{
        font-size: 1.2rem;
    }
    .signup-section{
        flex-direction: column;
        padding: 30px 0px;

        .text{
            width:100%;
        }
        .signupBox{
            width: 100%;
        
            
        }
    }
}

@media(max-width:350px){
    .route{
        padding: 5px;
    word-spacing: 2px;
    font-size: 0.3rem;
    gap: 2px;
    }
    .submenu{
        padding: 2px;
        gap: 0.3rem;
    }
    .submenu-links{
        padding:2px 2px;
        font-size: 0.4rem;
    }
    .statusBar{
        padding: 2px;
        font-weight: 200;
        font-size: .4rem;
    }
    .center-it{
        gap: 2px;
    }
    .main-heading{
        font-size: 1.1rem;
        line-height: 30px;
    }
    .sub-heading{
        font-size: 1rem;
    }
}
