.suggested-card {
    min-width: 32%;
    // min-width: 240px;
    // height: 350px;
    height: auto;
    // border: 1px solid black;
    border-radius: 12px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    img {
        width: 60%;
        margin-top: 40px;
        margin-bottom: 40px;
        height: 80px;
        object-fit: contain;
    }

    .card-details {
        width: 100%;
        // height: 100px;
        font-size: 0.8rem;
        // border: 1px solid black;
        #name {
            display: flex;
            justify-content: center;
            font-weight: bold;
            color: #626E79;
            margin-bottom: 5px;
            margin-top: 5px;
        }

        #card-title {
            width: 100%;
            height: auto;
            text-wrap: wrap;
            text-align: start;
            color: #626E79;
        }

    }

    .card-tags {
        width: 100%;
        height: 1rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3px;

    }

    .view-btn {
        width: 100%;
        height: 2rem;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 50px;
        margin-top: 10px;
        background-color: $btn-bg-color;
        border-radius: 10px;
        color: $btn-text-color;
        border: 2px solid $bg-color;

        &:hover{
            border: 2px solid $btn-bg-color;
        }
    }

}

.tag {
    background-color: #F2F4F7;
    border-radius: 5px;
    color: #074786;
    padding: 5px 5px;
    font-size: 0.5rem;
}

.card-pricing {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    padding: 10px 0px;
    gap: 10px;
    font-size: 0.7rem;
    #card-price {
        color: #5C6874;
        font-size: 1rem;
    }

    #card-mrp {
        color: #9FA9B3;
    }

    #card-discount {
        color: #EF4C5D;
    }
}

@media (max-width:850px){
    .suggested-card {
        min-width: 45%;
        .view-btn{
            margin-top: 5px;
        }
    }
}
@media (max-width:550px){
    .tag {
        border-radius: 5px;
        padding: 3px 3px;
        font-size: 0.4rem;
    }
    .suggested-card {
        min-width: 40%;
        img{
            margin-top: 20px;
            margin-bottom: 20px;
            height: 40px;
        }
        .view-btn{
            height: 1.5rem;
            font-size: 0.6rem;
            padding: 15px 30px;
            margin-top: 0px;

        }
        .card-details{
            font-size: 0.5rem;
        }
    }
    .card-pricing{
        font-size: 0.5rem;
        padding: 5px 0px;
        gap: 5px;
        #card-price{
        font-size: 0.8rem;
        }

    }
}
@media (max-width:430px){
    
    .suggested-card {
        min-width: 50%;
    }
}
@media (max-width:350px){
    .suggested-card {
        min-width: 60%;
    }
}
@media (max-width:300px){
    .suggested-card {
        min-width: 70%;
    }
}