$main-heading-color:#000000;
$sub-heading-color:#4B5665;
$bg-color:#FBFCFD;
$plain-text-color:#4B5665;
$para-color:#4B5665;
$highlighted-text-color:black;
$body-bg-color:#FBFCFD;
$btn-bg-color:#1B88F4;
$btn-text-color:#FFFFFF;
$rating-bg-color:#F3F9FF;
$rating-text-color:#074786;
$header-bg-color:#212731;
$header-text-color:#B6BDC4;