.header-container {
  width: 100vw;
  height: 2.8rem;
  background-color: #212731;
  color: #B6BDC4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 15rem;
  height: 65%;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  padding-left: 5px;
  justify-content: flex-start;
  align-items: center;
}
.search-bar input {
  width: 95%;
}

.nav {
  display: flex;
  gap: 50px;
  font-size: 0.8rem;
  padding: 0px 65px;
}
.nav li {
  list-style: none;
}
.nav li:hover {
  cursor: pointer;
  color: white;
}

.hamburger {
  display: none;
}

.showMobMenu {
  display: none;
}

@media (max-width: 1000px) {
  .search-bar {
    width: 10rem;
  }
  .nav {
    gap: 30px;
    font-size: 0.7rem;
  }
}
@media (max-width: 700px) {
  .search-bar {
    height: 60%;
  }
  .nav {
    gap: 20px;
    padding: 0px 40px;
    font-size: 0.65rem;
  }
}
@media screen and (max-width: 550px) {
  .header-container {
    justify-content: flex-start;
    padding: 0px 5%;
  }
  .search-bar {
    width: 70%;
  }
  .nav {
    display: none;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    font-size: 2rem;
    z-index: 2;
  }
  .myMobMenu {
    width: 15rem;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0rem 1rem;
    position: absolute;
    top: 2.8rem;
    overflow: hidden;
    left: -15rem;
    z-index: 2;
    background-color: #212731;
    font-size: 1rem;
    animation: slideIn 0.5s ease forwards;
  }
  .mobItem {
    margin: 1rem 0;
    color: #B6BDC4;
    text-decoration: none;
  }
  .mobItem:hover {
    color: rgba(255, 255, 255, 0.224);
  }
}
@keyframes slideIn {
  from {
    left: -15rem;
  }
  to {
    left: 0;
  }
}
@keyframes slideOut {
  from {
    left: 0;
  }
  to {
    left: -15rem;
  }
}
.main-container {
  width: 100vw;
  height: auto;
  padding: 25px 20%;
  overflow: hidden;
}
.main-container hr {
  color: rgba(225, 228, 230, 0.2549019608);
}

.main-heading {
  color: #2C384A;
  font-size: 3rem;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}

.statusBar {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  color: #4B5665;
  font-weight: 400;
  font-size: 0.75rem;
  justify-content: space-between;
  align-items: center;
}

.center-it {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.submenu {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.submenu-links {
  text-transform: capitalize;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4B5665;
  font-size: 0.8rem;
  cursor: pointer;
}
.submenu-links:hover {
  color: black;
}

.route {
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  word-spacing: 5px;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.7rem;
  gap: 5px;
  color: #4B5665;
}

.products {
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: all 0.3s linear;
}

.relatedProducts {
  width: 100%;
  height: auto;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.relatedProducts::-webkit-scrollbar {
  display: block;
  height: 8px;
}

.relatedProducts::-webkit-scrollbar-track {
  background-color: rgba(241, 241, 241, 0.6666666667);
}

.relatedProducts::-webkit-scrollbar-thumb {
  background-color: rgba(221, 221, 221, 0.8196078431);
  border-radius: 10px;
}

.relatedProducts::-webkit-scrollbar-thumb:hover {
  background-color: rgba(160, 160, 160, 0.8784313725);
}

.signup-section {
  width: 100%;
  padding: 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup-section .text {
  color: #5C6874;
  line-height: 35px;
  font-size: 1.5rem;
  width: 50%;
}
.signup-section .signupBox {
  width: 47%;
  height: 2.4rem;
  display: flex;
  border-radius: 15px;
  justify-content: start;
  align-items: center;
}
.signup-section .signupBox .input {
  width: 77%;
  height: 100%;
  background-color: white;
}
.signup-section .signupBox .input input {
  border: 0.1px solid rgba(195, 195, 195, 0.591);
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  border-radius: 10px 0px 0px 10px;
  color: #4B5665;
}
.signup-section .signupBox .input input:focus {
  outline: none;
}
.signup-section .signupBox .signup-btn {
  width: 23%;
  height: 100%;
  background-color: #1B88F4;
  color: white;
  cursor: pointer;
  font-size: 0.6rem;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .main-container {
    padding: 25px 15%;
  }
}
@media (max-width: 1050px) {
  .main-container {
    padding: 25px 10%;
  }
}
@media (max-width: 900px) {
  .main-container {
    padding: 25px 5%;
  }
}
@media (max-width: 500px) {
  .signup-section {
    flex-direction: column;
    padding: 30px 0px;
  }
  .signup-section .text {
    width: 100%;
  }
  .signup-section .signupBox {
    width: 100%;
  }
}
.productContainer {
  width: 100%;
  height: 210px;
  display: grid;
  grid-template-columns: 24% 48% 28%;
  grid-template-rows: 1fr;
  color: #4B5665;
  line-height: 18px;
  font-size: 0.8rem;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s ease-in;
}
.productContainer.expanded {
  height: 330px; /* Adjust as needed for expanded height */
}
.productContainer .bestLabel {
  width: 6.5rem;
  height: 1.8rem;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  transform: translate(-10%, -50%);
  text-transform: capitalize;
  position: absolute;
  padding: 5px 10px;
  background-color: #FF7724;
  color: white;
  border-radius: 0px 8px 8px 0px;
}

.block-1 {
  grid-area: 0/0/1/1;
}
.block-1 .serialNumber {
  transform: translate(-50%, 100%);
  position: absolute;
  color: #626E79;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8rem;
  border-radius: 50%;
  border: 0.5px solid rgba(215, 215, 215, 0.547);
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-1 img {
  width: 60%;
  height: 60%;
  transform: translate(30%, 15%);
  -o-object-fit: contain;
     object-fit: contain;
}
.block-1 .nameOfProduct {
  transform: translate(33%, 40%);
}

.block-2 {
  grid-area: 0/1/1/2;
  padding: 10px 0px;
}

.block-3 {
  grid-area: 0/2/1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.block-3 .ratingBox {
  background-color: #F3F9FF;
  color: #074786;
  text-transform: capitalize;
  width: 50%;
  height: 6.5rem;
  border-radius: 0px 0px 12px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.block-3 .ratingBox #rating {
  font-size: 2.1rem;
  font-weight: lighter;
  padding: 15px 0px;
}
.block-3 .ratingBox #ratingText {
  font-size: 0.8rem;
}
.block-3 .ratingBox .stars {
  display: flex;
  justify-content: center;
}
.block-3 .ratingBox .stars img {
  width: 60%;
  height: 1.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  padding-bottom: 5px;
}
.block-3 .view-btn {
  width: 95%;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  margin-bottom: 10px;
  background-color: #1B88F4;
  border-radius: 15px;
  color: #FFFFFF;
  transform-origin: center;
  border: 2px solid #FBFCFD;
}
.block-3 .view-btn:hover {
  border: 2px solid #1B88F4;
}

.showMore {
  color: #1B88F4;
  text-align: left;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tick {
  background-color: #EBF5FF;
  width: 1.2rem;
  height: 1.2rem;
  color: #0855A1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights {
  padding-left: 10px;
  padding-top: 5px;
}

.rating {
  width: 95%;
  transform: translateX(5%);
  border-radius: 10px;
  background-color: #FFF4ED;
  padding: 5px 5px;
}
.rating .list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  padding-left: 5px;
  margin-bottom: 3px;
}
.rating .list-item .list-box {
  background-color: #fff;
  padding: 3px 3px;
  color: #1B88F4;
  border-radius: 5px;
}

.advantages {
  padding: 5px;
}

.adv-list {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 10px;
}

.suggested-card {
  min-width: 32%;
  height: auto;
  border-radius: 12px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.suggested-card img {
  width: 60%;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
.suggested-card .card-details {
  width: 100%;
  font-size: 0.8rem;
}
.suggested-card .card-details #name {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #626E79;
  margin-bottom: 5px;
  margin-top: 5px;
}
.suggested-card .card-details #card-title {
  width: 100%;
  height: auto;
  text-wrap: wrap;
  text-align: start;
  color: #626E79;
}
.suggested-card .card-tags {
  width: 100%;
  height: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}
.suggested-card .view-btn {
  width: 100%;
  height: 2rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  margin-top: 10px;
  background-color: #1B88F4;
  border-radius: 10px;
  color: #FFFFFF;
  border: 2px solid #FBFCFD;
}
.suggested-card .view-btn:hover {
  border: 2px solid #1B88F4;
}

.tag {
  background-color: #F2F4F7;
  border-radius: 5px;
  color: #074786;
  padding: 5px 5px;
  font-size: 0.5rem;
}

.card-pricing {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  padding: 10px 0px;
  gap: 10px;
  font-size: 0.7rem;
}
.card-pricing #card-price {
  color: #5C6874;
  font-size: 1rem;
}
.card-pricing #card-mrp {
  color: #9FA9B3;
}
.card-pricing #card-discount {
  color: #EF4C5D;
}

@media (max-width: 850px) {
  .suggested-card {
    min-width: 45%;
  }
  .suggested-card .view-btn {
    margin-top: 5px;
  }
}
@media (max-width: 550px) {
  .tag {
    border-radius: 5px;
    padding: 3px 3px;
    font-size: 0.4rem;
  }
  .suggested-card {
    min-width: 40%;
  }
  .suggested-card img {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
  }
  .suggested-card .view-btn {
    height: 1.5rem;
    font-size: 0.6rem;
    padding: 15px 30px;
    margin-top: 0px;
  }
  .suggested-card .card-details {
    font-size: 0.5rem;
  }
  .card-pricing {
    font-size: 0.5rem;
    padding: 5px 0px;
    gap: 5px;
  }
  .card-pricing #card-price {
    font-size: 0.8rem;
  }
}
@media (max-width: 430px) {
  .suggested-card {
    min-width: 50%;
  }
}
@media (max-width: 350px) {
  .suggested-card {
    min-width: 60%;
  }
}
@media (max-width: 300px) {
  .suggested-card {
    min-width: 70%;
  }
}
.footerContainer {
  width: 100vw;
  background-color: #212731;
  color: #B6BDC4;
  padding: 50px 50px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  color: white;
}
.footerContainer .categories {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footerContainer .contact {
  padding-top: 10px;
  display: block;
  padding-bottom: 10px;
}
.footerContainer .item {
  font-size: 0.8rem;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.footerContainer .item a {
  color: #B6BDC4;
}
.footerContainer .item a:hover {
  color: white;
}
.footerContainer .item:hover {
  color: white;
}

@media (max-width: 700px) {
  .footerContainer {
    font-size: 0.8rem;
  }
  .footerContainer .item {
    font-size: 0.7rem;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .footerContainer {
    font-size: 0.7rem;
  }
  .footerContainer .item {
    font-size: 0.6rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .footerContainer {
    padding: 20px 20px;
    font-size: 0.6rem;
  }
  .footerContainer .item {
    font-size: 0.5rem;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
}
* input {
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  color: #4B5665;
  outline: none;
  border: none;
}
* input:focus {
  outline: none;
  border: none;
}
* body {
  font-family: "Inter";
  background-color: #FBFCFD;
}/*# sourceMappingURL=App.css.map */